<header class="masthead text-white text-center">
 
<%= render 'pages/partials/header' %>
</header>
	
 <section class="testimonials text-center bg-light">
    <%= render 'pages/partials/testimonials'%>
  </section>

    <%= render 'pages/partials/cta_bottom'%>
