<!-- Testimonials -->

  <div class="container">
    <h2 class="mb-5 testi">Ce qu'on dit de la formation...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img style="height:8em" class="img-fluid rounded-circle mb-3" src="https://www.thehackingproject.org/assets/isabelle-f54b38590696118fcd68f0d759a7e349ff1e8f4da3986c53dd4333c2e7c43b20.jpg" alt="">
          <h5 class="catch_one">Isabelle Bonnet</h5>
          <p class="font-weight-light mb-0">"En plus de me donner suffisamment de bases en code pour lancer AlgoSki, <br>The Hacking Project m'a réappris à apprendre.  Je recommande la formation ! "</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img style="height:8em" class="img-fluid rounded-circle mb-3" src="https://www.thehackingproject.org/assets/juan-a76b9f8fbf94841dd7b1115c9f5a8656a7e6c5b8404a7da87ec5d03f5b232af6.jpg" alt="">

          <h5 class="catch_one">Juan-Pablo ANGARITA</h5>
          <p class="font-weight-light mb-0">"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img style="height:8em" class="img-fluid rounded-circle mb-3" src="https://www.thehackingproject.org/assets/maxime-930f810509ec2472afaa65ce64851884d1671a881c3e69adaac64418c03ecdc1.jpg" alt="">
          <h5 class="catch_one">Maxime Souillat</h5>
          <p class="font-weight-light mb-0">"En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides. "</p>
        </div>
      </div>
    </div>
  </div>
